body{
    font-family: 'Courier New', Courier, monospace
}
#contenido{
    width: 80%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

article{
    margin:5px;
    height: 150px;
    width: 95px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.loader{
    position: relative;
    width: 50%;
    margin: -100px auto;
}

.loader img{

}

.loader h3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

}
header{
    display: flex;
    justify-content: space-between;
}
.buscador{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.buscador label{
    margin-left: 5px;
}
.buscador input,select{
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#detailCard>div{
    display: flex;
    justify-content: space-between;

}